<div class = "container">
    <h1>Team Members by <%= @description %></h1>
    <ul class = "sort">
        <h5> Sort Options </h5>
        <li><%= link_to '<button type="button" class="standard-button">First Name A–Z</button>'.html_safe, action: 'index', order: 'fn_asc', desc:'First Name A-Z' %></li>
        <li><%= link_to '<button type="button" class="standard-button">First Name Z–A</button>'.html_safe, action: 'index', order: 'fn_desc', desc:'First Name Z–A' %></li>
        <li><%= link_to '<button type="button" class="standard-button">Last Name A–Z</button>'.html_safe, action: 'index', order: 'ln_asc', desc:'Last Name A-Z' %></li>
        <li><%= link_to '<button type="button" class="standard-button">Last Name Z–A</button>'.html_safe, action: 'index', order: 'ln_desc', desc:'Last Name Z–A' %></li>
        <li><%= link_to '<button type="button" class="standard-button">Most Projects</button>'.html_safe, action: 'index', order: 'p_desc', desc:'Most Projects' %></li>
        <li><%= link_to '<button type="button" class="standard-button">Least Projects</button>'.html_safe, action: 'index', order: 'p_asc', desc:'Least Projects' %></li>
        <li><%= link_to '<button type="button" class="standard-button">Order of Hire</button>'.html_safe, action: 'index', order: 'default', desc:'Order of Hire' %></li>
    </ul>
    <div class = "teammember heading">
        <section class = "teammmemberinfo">
            <p id = "firstname"> Name </p>
            <p id = "lastname">  </p>
            <p id = "numproj"> # Projects </p>
        </section>
    </div>
    <% @teamsorted.each do |t| %>
        <div class = "teammember">
            <section class = "teammmemberinfo" style="background: url(<%= t.img %>) <%= t.bgcolour %> no-repeat top left; background-size: 8em; background-position: 0% 50%">
                <p id = "firstname"> <%= t.first_name %> </p>
                <p id = "lastname"> <%= t.last_name %> </p>
                <p id = "numproj"> <%= t.projects.length %> </p>
            </section>
            
            <section class = "projectinfo">
                <% t.projects.each do |p| %>
                    <div class = "project">
                        <div class = "projectprogressbar" style = "background: <%= t.bgcolour %>; opacity: 0.5"></div>
                        <p id = "projnumber"> <%= p.projnumber %> </p>
                        <p id = "projname"> <%= p.projname %> </p>
                        <p id = "scope"> <%= p.scope %> </p>
                        <p id = "status"> <%= p.status %> </p>
                        <p id = "stage"> <%= p.stage %></p>
                        <div class = "projectbackground"></div>
                        <ul class = "buttons">
                            <li><%= link_to '<button type="button" class="show editbutton">Show Details</button>'.html_safe, "/projects/#{p.projnumber}/"%> </li>
                            <li> <%= link_to '<button type="button" class="edit editbutton">Edit</button>'.html_safe, "/projects/#{p.projnumber}/edit/"%></li>
                            <li><%= link_to '<button type="button" class="delete editbutton">Delete Project</button>'.html_safe, project_path(p.projnumber), method: "delete"%></li>
                        </ul>
                    </div>
                <% end %>
            </section>
        </div>
    <% end %>
</div>